.item {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "a pm" "a l" ;
    color: white;
    grid-area: i;
    margin-bottom: 10px;
}

.item img {
    border-radius: 50%;
    width: 50px;
}

.avatar {
    grid-area: a;
}

.avatar img {
    background-color: rgba(0,0,0, 0.4);
    border: 1px transparent;
    box-shadow: 0 2px rgba(0,0,0, 0.1);
}

.postMessage {
    margin-left: 10px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    grid-area: pm;
}

.likes {
    margin-left: 10px;
    grid-area: l;

}

.likes img {
    margin-left: 5px;
    width: 14px;
    filter: brightness(0) invert(1);
}