.nav {
    background-color: lightsteelblue;
    grid-area: n;
    padding: 20px 0 0 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item {
    color: lightcyan;
}

.item a.activeLink {
    color: teal;
    font-weight: 500;
}